PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cinedata_db
JWT_SECRET=super_secret_jwt_key_cinedata_2026_x89a
API_KEY_SECRET=cinedata_api_key_hmac_secret_2026_99z
